<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Kenko</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
<link href="http://127.0.0.1:8887/min.css" rel="stylesheet">
<script src="http://127.0.0.1:8887/bundlemin.js"></script>
    <!-- Favicons -->
<link rel="apple-touch-icon" href="http://127.0.0.1:8887/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA_%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0_2022-01-28_114011-removebg-preview.png" sizes="180x180">
<link rel="icon" href="http://127.0.0.1:8887/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA_%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0_2022-01-28_114011-removebg-preview.png" sizes="32x32" type="image/png">
<link rel="icon" href="http://127.0.0.1:8887/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA_%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0_2022-01-28_114011-removebg-preview.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="http://127.0.0.1:8887/bootstrap-5.1.3-examples/carousel/carousel.css" rel="stylesheet">
  </head>
  <body background-color="#c0c0c0">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
        <div class="container-fluid">
          <form class="d-flex">
            <img src="http://127.0.0.1:8887/kenko2.png">
          </form>
          <a class="navbar-brand mb-0 h1">Оздоровительный центр Кенко</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/home">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/gym">Тренажерный зал</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/lpg">LPG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active mb-0 h6" aria-current="page" href="/infrcabina">Инфракрасная кабина</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/kedr">Кедровое Наслаждение</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/massage">Массаж</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h5mb-0 h6" aria-current="page" href="/sauna">Сауна</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/solarium">Солярий</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/spa">Спа</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>

<main>
  <hr class="featurette-divider">
  <div class="container marketing">
  <div class="row featurette">
    <div><h1 class="text-center">Инфракрасная кабина</h1>
    </div>
  </div>
  </div>
  <hr class="featurette-divider">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->


    <!-- START THE FEATURETTES -->
    <div class="container marketing">
      
      <div class="row featurette">
      <div class="col-sm-6">
        <div class="card border-primary mb-3">
          <h3 class="card-header">Стоимость</h3>
          <div class="card-body text-primary">
            <p class="card-text">•Разовое посещение - 110 рублей/час.</p>
            <p class="card-text">•Абонемент – 900 руб. (включает в себя 10-ти разовое посещение).</p>
            <p class="card-text">•Срок действия абонемента 1 год.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img src="http://127.0.0.1:8887/InfrCabina.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
      </div>
      </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Улучшает кровообращение<span class="text-muted"></span></h2>
          <p class="lead">Лечение инфракрасным теплом может во многом сократить проблемы высокого артериального давления, сердечных заболеваний, плохой циркуляции крови, а также при мышечных травмах и судорогах. Во время 15-30 минутного сеанса в инфракрасной сауне пульс человека увеличивается на 50-75%, что обеспечивает тот же метаболический процесс, что и при физических нагрузках. Вены становятся более гибкими, и резко ускоряется циркуляция крови. Длинноволновое инфракрасное тепло увеличивает размеры капилляров, что в свою очередь повышает скорость кровообращения, обновления организма и насыщения кислородом всех частей тела. </p>
        </div>
      </div>

    <hr class="featurette-divider">  
    
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Борется с болезнями, повышает иммунитет, убивает бактерии и вирусы <span class="text-muted"></span></h2>
          <p class="lead">Является профилактикой простуды, гриппа и многих других распространенных заболеваний. Большинство заболеваний сопровождаются жаром. Температура тела возрастает, потому что организм ведет активную борьбу с вирусами. Во время сеанса в инфракрасной сауне температура кожного покрова возрастает до 40°C, а общая температура тела достигает 38°C. Такой процесс известен как гипертермия. Жар – это часть естественного процесса выздоровления. Жар стимулирует иммунную систему, способствуя активному выделению лейкоцитов, антител и интерферона. </p>
        </div>
      </div>

    <hr class="featurette-divider">   

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Активирует потовые железы<span class="text-muted"></span></h2>
          <p class="lead">Инфракрасные сауны полезны для тех, кто страдает от гипертонии, напряжения в мышцах, головных болей и тошноты. Потоотделение естественно для здоровья как дыхание и потребление пищи. Оно выполняет 3 основные функции: освобождает организм от токсинов и шлаков, регулирует температуру тела на постоянном уровне и помогает поддерживать кожу чистой и эластичной.
            Благодаря достижениям современного мира, многие люди просто недостаточно потеют. Дезодоранты, искусственная среда, смог, синтетическая одежда и физически скудный образ жизни – все это способствует забиванию пор кожи и сдерживает выделение пота. Посещение инфракрасной сауны избавляет от таких негативных эффектов. В течение 15-30-ти минутного сеанса в инфракрасной сауне тело человека может выделять до 1 литра жидкости (нормальный показатель при ежедневном использовании от 0,5 до 1,5 литров).  </p>
        </div>
      </div>

      <hr class="featurette-divider"> 

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Делает кожу здоровой <span class="text-muted"></span></h2>
          <p class="lead">Хотите избавиться от прыщей или от сухости кожи, закупоренных пор, морщин или черных точек. Во время 15-30-ти минутного сеанса в инфракрасной сауне, кровообращение в коже усиливается. Кровь доставляет важные питательные вещества подкожным и поверхностным тканям, активизируя клеточную активность. Это усиливает развитие коллагена, что обеспечивает кожу продолжительной эластичностью и избавляет от морщин. Более того, происходит очищение пор и их освобождение от частиц, которые вызывают воспаление кожи и становятся причиной образования прыщей и черных точек. </p>
        </div>
      </div>


      <hr class="featurette-divider"> 

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Помогает бороться с экземой и псориазом <span class="text-muted"></span></h2>
          <p class="lead">Глубокое проникновение инфракрасного тепла приводит к усиленной циркуляции крови, что способствует насыщению клеток кислородом и питательными веществами, а в результате омоложению кожи. Инфракрасное тепло устраняет зуд при экземе и псориазе и стимулирует процесс заживления пораженных участков. Инфракрасные сауны облегчают стресс, который зачастую является первопричиной экземы и псориаза. </p>
        </div>

      </div>


      <hr class="featurette-divider"> 

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ускоряет обмен веществ и потерю веса, борется с ожирением  <span class="text-muted"></span></h2>
          <p class="lead">Инфракрасное тепло проникает глубоко в мягкие ткани. Организм реагирует ускорением уровня обмена веществ и пульса, как только Вы начинаете потеть. Ускоренный обмен веществ не означает потерю веса, но организм начнет гораздо быстрее преобразовывать пищу в энергию и позволит сжигать эту энергию путем потения. Кроме активизации обмена веществ, инфракрасная сауна способствует потери веса другими тремя путями:
            Она эффективно снижает количество тяжелых металлов в организме, которые напрямую связаны с дисбалансами в обмене веществ, так как являются причиной плохого пищеварения и увеличения массы тела. Уменьшает накопленные жировые токсины. Зачастую потеря веса невозможна без выведения этих токсинов из организма. Хотя потеря веса через потоотделение быстро восстанавливается, в результате подачи большего количества крови к капиллярам и переработки жиров и углеводов, около 600 калорий сжигается в течение одного короткого сеанса в инфракрасной сауне. </p>
        </div>

      </div>

      <hr class="featurette-divider"> 

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Расслабляет мышцы <span class="text-muted"></span></h2>
          <p class="lead">Мышцы становятся неэластичными из-за стресса и многих других факторов. Инфракрасное тепло делает мышцы более гибкими, избавляет от судорог, облегчает боли в суставах. Инфракрасное тепло препятствует выделению молочной кислоты. Доказана эффективность инфракрасного тепла для облегчения мышечных болей в области поясницы, при артритах и других проблемах с суставами. </p>
        </div>
      </div>

      <hr class="featurette-divider"> 
 
    <!-- /END THE FEATURETTES -->
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="http://127.0.0.1:8887/raphic.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
  
          <h2>График работы</h2>
          <p>понедельник-пятница 9.00 - 21.00</p>
           <p>суббота, воскресенье 9.00 - 20.00</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="http://127.0.0.1:8887/telephone.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
  
          <h2>Как с нами связаться</h2>
          <p>Адрес:
          Кемеровская область, г. Междуреченск, пр. Шахтеров 4</p>
          <p> тел. 8-903-046-5550, 8(38475) 5-15-90</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="http://127.0.0.1:8887/instagram.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
  
          <h2>Instagram</h2>
          <p>https://www.instagram.com/kenko.mzk/</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Created by memph11s &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
    <script src="http://127.0.0.1:8887/bundlemin.js" crossorigin="anonymous"></script>
  </body>
</html>
