<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Kenko</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    <!-- Bootstrap core CSS -->
<link href="http://127.0.0.1:8887/min.css" rel="stylesheet">
<script src="http://127.0.0.1:8887/bundlemin.js"></script>
    <!-- Favicons -->
<link rel="apple-touch-icon" href="http://127.0.0.1:8887/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA_%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0_2022-01-28_114011-removebg-preview.png" sizes="180x180">
<link rel="icon" href="http://127.0.0.1:8887/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA_%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0_2022-01-28_114011-removebg-preview.png" sizes="32x32" type="image/png">
<link rel="icon" href="http://127.0.0.1:8887/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA_%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0_2022-01-28_114011-removebg-preview.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="http://127.0.0.1:8887/bootstrap-5.1.3-examples/carousel/carousel.css" rel="stylesheet">
  </head>
  <body background-color="#c0c0c0">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
        <div class="container-fluid">
          <form class="d-flex">
            <img src="http://127.0.0.1:8887/kenko2.png">
          </form>
          <a class="navbar-brand mb-0 h1">Оздоровительный центр Кенко</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/home">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/gym">Тренажерный зал</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active mb-0 h6" aria-current="page" href="/lpg">LPG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/infrcabina">Инфракрасная кабина</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/kedr">Кедровое Наслаждение</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/massage">Массаж</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h5mb-0 h6" aria-current="page" href="/sauna">Сауна</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/solarium">Солярий</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-danger mb-0 h6" aria-current="page" href="/spa">Спа</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>

<main>

  <hr class="featurette-divider">
  <div class="container marketing">
  <div class="row featurette">
    <div><h1 class="text-center">LPG-массаж</h1>
    </div>
  </div>
  </div>
  <hr class="featurette-divider">


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->


    <!-- START THE FEATURETTES -->
    

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted"></span></h2>
        <p class="lead"><h3>Cellu M6 Integral</h3>

            Cellu M6 Integral – аппарат LPG нового поколения, работающий по запатентованной технологии LPG массажа. Cellu M6 Integral усовершенствован технологическими инновациями и выполнен в компактном, элегантном корпусе.

В отличие от аппаратов LPG прошлого поколения, Cellu M6 Integral оснащен новой манипулой Эргодрайв, конструкция которой позволяет произвести более глубокий захват складки, увеличить объем обрабатываемой ткани, усилить липолитическое действие процедуры на 50%, то есть – провести более эффективную процедуру за меньшее количество времени. 

Аппарат Cellu M6 Integral работает на основе новейших запатентованных технологий LPG: Эндермология и Эндермолифт. Уникальность этих технологий LPG массажа заключается в том, что в ходе одной процедуры решается полный спектр проблем эстетики тела (лечение целлюлита, уменьшение объемов, моделирование фигуры, укрепление кожи и др.) и лица (коррекция морщин, восстановление тургора и эластичности кожи, устранение отеков и др).

LPG массаж проводится только на оборудовании компании LPG Systems. Патент на технологию LPG массажа принадлежит только компании LPG Systems и ее разработчику – Луи-Полю Гитею. Регистрационное Удостоверение ФСP № 2010/06441.

            <hr class="featurette-divider">
            <h3>Эстетика (тело)</h3>
            
            Открытие технологии ЭНДЕРМОЛОГИЯ явилось настоящей революцией в эстетической медицине. Новаторство ЭНДЕРМОЛОГИИ заключается в том, что в ходе одной процедуры решается полный спектр проблем эстетики тела – лечение целлюлита, уменьшение объёма жировой ткани, моделирование фигуры, укрепление и уменьшение площади растянутой дряблой кожи. ЭНДЕРМОЛОГИЯ - единственная на сегодняшний день методика, признанная FDA (США) – самой жесткой медицинской сертификационной системой, как действительно лечащая целлюлит, любого происхождения и на любой стадии развития.

            Научные исследования последних лет позволили Эстетической ЭНДЕРМОЛОГИИ выйти на высший уровень эффективности с новейшими протоколами Эндермологического ЛИПОМАССАЖА.
            
            Исключительная эффективность технологии доказана многочисленными клиническими исследованиями специалистов, в том числе и Российских.

            <hr class="featurette-divider">
            <h3>Липомассаж</h3>
            
            Липомассаж – уникальное многомерное механическое воздействие на поверхность кожи, вызывающее биохимический ответ как поверхностных, так и самых глубоких слоев ткани.

Этот физиологический процесс, называемый механотрансдукцией, стимулирует адипоциты (жировые клетки), что приводит к запуску активного липолиза даже в зонах наиболее «упорных» локальных жировых отложений, неподдающихся диетам и физическим упражнениям, а также к устранению или существенному уменьшению проявлений целлюлита.

            <hr class="featurette-divider">
            <h3>Больше чем косметологическая процедура…</h3>
            
            Предварительная оценка делается с учетом морфологического типа пациента и выбранных им целей процедуры с помощью новых диагностических приемов
Процедуры последнего поколения были разработаны научно-исследовательским отделом LPG для эффективного решения каждой конкретной задачи.
Манипула «Эргодрайв»® со свободно вращающимся основанием позволяет существенно повысить моделирующий эффект. Кроме этого, конструкция манипулы дает возможность работать даже с труднодоступными зонами, такими как внутренняя поверхность бедра, подъягодичная складка и т.п.
В каждой процедуре, в соответствии с новыми протоколами, уделяется большее внимание проблеме повышения тургора кожи. Фаза «укрепление кожи» теперь завершает каждую эстетическую процедуру, так как при такой быстрой потере объемов необходим систематический уход за кожей для скорейшего сокращения ее площади.
         
            <hr class="featurette-divider">
            <h3>Уменьшение объема, Моделирование контуров тела, Укрепление кожи, Лечение целлюлита...</h3>
            
            Моделирование именно той зоны, которую вы хотите откорректировать, теперь возможно. Локальное уменьшение объема за счет естественного повышения активности жировых клеток стало реальностью.

Одна технология – 4 результата:
Удаление «упорных» жировых отложений, уменьшение объемов тела
Моделирование гармоничной фигуры
Лифтинг и укрепление кожи
Лечение целлюлита, устранение «апельсиновой корки»
Преимущества процедуры
Влияние на эмоциональный фон: данная процедура благоприятно сказывается на состоянии и самочувствии пациента. Эффект виден уже с первых процедур, осуществляется устранение лишнего веса и всех признаков целлюлита. Благодаря комплексности подхода, из организма выводятся токсины и прочие продукты распада. LPG массаж может проводиться практически в любом возрасте, сама процедура абсолютно безболезненна. Также, еще одним немаловажным преимуществом является возможность установить различные программы для каждого клиента индивидуально. После проведения процедуры нет ярко выраженных следов LPG массажа - синяков и гематом. Получаемый эффект от курса LPG массажа придает выравнивание рельефу кожи, улучшает цвет, устраняет отечность и уменьшает эффект «апельсиновой корки», снижает лишний вес.
     
<hr class="featurette-divider">
            <h1>Эндермолифт</h1>
            <h3>Стимуляция фибробластов для активации выработки коллагена и эластина</h3>
            После 25 лет «клетки молодости», как иногда называют фибробласты, уменьшают выработку коллагеновых и эластиновых волокон. Кожа начинает терять свою «плотность», что приводит к появлению признаков старения, таких как морщинки, гравитационное смещение контуров и тусклый цвет лица.

Эксклюзивная технология омоложения тканей использует механотрансдукцию для стимуляции фибробластов и восстановления «плотности» деликатных тканей лица, шеи и декольте.

Благодаря такому воздействию возобновляется активная выработка тканями коллагена и эластина, что дает долгосрочный эффект омоложения.

<h3>Индивидуальные программы восстановления качества тканей</h3>

<p>Предварительная оценка проводится для выяснения предполагаемого типа старения пациента: склонность к образованию мелких морщин, гравитационному опущению тканей, снижению тургора кожи.</p>
<p>Процедуры последнего поколения были разработаны научно-исследовательским отделом LPG для эффективного решения каждой отдельной задачи:</p>
<p>-Сияющий цвет лица</p>
<p>-Контур глаз</p>
<p>-Укрепление кожи</p>
<p>-Разглаживание морщин</p>
<p>-Уменьшение нежелательного объема подкожно-жировой клетчатки</p>

<h3>Кожа упругая и молодая. Морщинки разглажены, лицо сияет естественной красотой.</h3>
<p>Эти процедуры длительностью от 15 до 40 минут, в зависимости от индивидуальных особенностей пациента, проводятся курсами от 8 до 15 сеансов.</p>
<h3>Полученные результаты:</h3>
<h4>-Разглаживание морщин</h4>
<p>43% Уменьшение глубины морщин</p>
<h4>-Восстановление контура лица</h4>
<p>53% Увеличение «плотности» кожи</p>
<p>48% Уменьшение нежелательного объема подкожного жира</p>
<hr class="featurette-divider">

<h1>Показания к проведению процедуры</h1>
<p>-Целлюлит всех стадий;</p>
<p>-Остеохондроз;</p>
<p>-Мышечные спазмы;</p>
<p>-Необходимость лифтинг эффекта;</p>
<p>-Локализованные жировые отложения на различных частях тела;</p>
<p>-Неудачно проведенная хирургическая липосакция и вызванные ей видимые дефекты;</p>
<p>-Противопоказания к хирургической липосакции;</p>
<p>-Морщины и дряблость кожи, низкий тургор;</p>
<p>-Отсутствие эффекта от физических нагрузок, диет и других способов воздействия на стойкие жировые отложения;</p>
<p>-Проявляющиеся отечности различных форм происхождения;</p>
<p>-Коррекция и моделирование контуров тела.</p>

<hr class="featurette-divider">

<h1>LPG массаж: противопоказания</h1>
<p>-Беременность и лактация;</p>
<p>-Наркотическая и алкогольная зависимости;</p>
<p>-Инфекционные и простудные заболевания, лихорадка;</p>
<p>-Болезни крови;</p>
<p>-Менструация;</p>
<p>-Гипертония, сердечно-сосудистая недостаточность;</p>
<p>-Нарушение целостности кожного покрова;</p>
<p>-Доброкачественная и злокачественная опухоли;</p>
<p>-Тромбозы и тромбофлебиты;</p>
<p>-Печеночная и почечная недостаточность;</p>
<p>-Язвенная болезнь в острой стадии;</p>
<p>-Хронические заболевания в период обострения;</p>
<p>-Склонность к кровотечениям и заболеваниям сосудов.</p>
<h3>Рекомендуемый курс 8-10 процедур.</h3>
<h1>LPG массаж отдельных зон: </h1>

<p>-живот;</p>
<p>-бедра;</p>
<p>-руки (верхняя часть);</p>
<p>-спина;</p>
<p>-талия;</p>
<p>-ягодицы;</p>
<p>-галифе;</p>
<p>-икры.</p>

<hr class="featurette-divider">

<h3>Расценки на услуги:</h3>

<p>Тело - 1 сеанс - 800 рублей; абонемент – 7000 рублей (10 сеансов)</p>
<p>Лицо - 1 сеанс - 700 рублей; абонемент – 6000 рублей (10 сеансов)</p>
<p>Срок действия абонемента 1 год.  </p>

<hr class="featurette-divider">
</div>
      <div class="col-md-5 order-md-1">
        <img src="http://127.0.0.1:8887/spa.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>

      </div>
    </div>



    <!-- /END THE FEATURETTES -->
    <div class="row">
      <div class="col-lg-4">
        <img src="http://127.0.0.1:8887/raphic.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>График работы</h2>
        <p>понедельник-пятница 9.00 - 21.00</p>
         <p>суббота, воскресенье 9.00 - 20.00</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="http://127.0.0.1:8887/telephone.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Как с нами связаться</h2>
        <p>Адрес:
        Кемеровская область, г. Междуреченск, пр. Шахтеров 4</p>
        <p> тел. 8-903-046-5550, 8(38475) 5-15-90</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="http://127.0.0.1:8887/instagram.png" class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

        <h2>Instagram</h2>
        <p>https://www.instagram.com/kenko.mzk/</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Created by memph11s &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
    <script src="http://127.0.0.1:8887/bundlemin.js" crossorigin="anonymous"></script>
  </body>
</html>
